<!--<p id="notice"><%#= notice %></p>-->
<div class="panel-header bg-primary-gradient">
  <div class="page-inner py-5">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
      <div>
        <h2 class="text-white pb-2 fw-bold">Users</h2>
        <!--        <h5 class="text-white op-7 mb-2">User List</h5>-->
      </div>
      <div class="ml-md-auto py-2 py-md-0">
        <a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
        <%= link_to 'Add User', new_user_path, class:"btn btn-secondary btn-round" %>
        <!--        <a href="#" class="btn btn-secondary btn-round">Add Customer</a>-->
      </div>
    </div>
  </div>
</div>
<div class="page-inner mt--5">
  <div class="row row-card-no-pd">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-head-row card-tools-still-right">
            <h4 class="card-title">Profile</h4>
            <div class="card-tools">
              <!--              <button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-angle-down"></span></button>-->
              <!--              <button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"><span class="fa fa-sync-alt"></span></button>-->
              <!--              <button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-times"></span></button>-->
            </div>
          </div>
          <p class="card-category">
            My Profile Information</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p> NAme: <%= @current_user.name %></p>
              <p> Email: <%= @current_user.email %></p>
              <p> Phone: <%= @current_user.phone %></p>
              <p> Age : <%= @current_user.age %></p>
              <p>
                <strong>Date Of Birth:</strong>
                <%= @current_user.dob %>
              </p>

            </div>
            <div class="col-md-6">
              <%= image_tag(@current_user.image_url, style: 'height: 200px;') if @current_user.image.present? %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
