<div class="panel-header bg-primary-gradient">
  <div class="page-inner py-5">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
      <div>
        <h2 class="text-white pb-2 fw-bold">Recent Events</h2>
      </div>
      <div class="ml-md-auto py-2 py-md-0">
        <a href="#" class="btn btn-white btn-border btn-round mr-2">Events</a>
        <%= link_to 'New Recent Event', new_recent_event_path, class:"btn btn-secondary btn-round" %>
      </div>
    </div>
  </div>
</div>
<div class="page-inner mt--5">
  <div class="row row-card-no-pd">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-head-row card-tools-still-right">
            <h4 class="card-title">Event List</h4>
            <div class="card-tools">
            </div>
          </div>
          <p class="card-category">
            Map of the distribution of users around the world</p>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <div class="table-responsive# table-hover# table-sales#">
              <table class="table">
                <thead>
                <tr>
                  <th>Title</th>
                  <th>Image</th>
                  <th>Description</th>
                  <th colspan="3"></th>
                </tr>
                </thead>

                <tbody>
                <% @recent_events.each do |recent_event| %>
                  <tr>
                    <td><%= recent_event.title %></td>
                    <td><%= recent_event.image %></td>
                    <td><%= recent_event.description %></td>
                    <td><%= link_to 'Show', recent_event %></td>
                    <td><%= link_to 'Edit', edit_recent_event_path(recent_event) %></td>
                    <td><%= link_to 'Destroy', recent_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
