<!--<p id="notice"><%#= notice %></p>-->
<div class="panel-header bg-primary-gradient">
  <div class="page-inner py-5">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
      <div>
        <h2 class="text-white pb-2 fw-bold">Committee Members</h2>
      </div>
      <div class="ml-md-auto py-2 py-md-0">
        <%= link_to 'New Committee Member', new_committee_member_path, class:"btn btn-secondary btn-round" %>
      </div>
    </div>
  </div>
</div>
<div class="page-inner mt--5">
  <div class="row row-card-no-pd">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-head-row card-tools-still-right">
            <h4 class="card-title">Committee Members</h4>
            <div class="card-tools">
            </div>
          </div>
          <p class="card-category">
            Map of the distribution of users around the world</p>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <div class="table-responsive# table-hover# table-sales#">
              <table class="table">
                <thead>
                <tr>
                  <th>User</th>
                  <th>Committee</th>
                  <th>Committee designation</th>
                  <th>Added by</th>
                  <th>Remove by</th>
                  <th>Approve by</th>
                  <th>Is approved</th>
                  <th>Description</th>
                  <th colspan="3"></th>
                </tr>
                </thead>

                <tbody>
                <% @committee_members.each do |committee_member| %>
                  <tr>
                    <td><%= committee_member&.user&.name %></td>
                    <td><%= committee_member&.committee&.title %></td>
                    <td><%= committee_member&.committee_designation&.title %></td>
                    <td><%= committee_member.added_by_id %></td>
                    <td><%= committee_member.remove_by_id %></td>
                    <td><%= committee_member.approve_by_id %></td>
                    <td><%= committee_member.is_approved %></td>
                    <td><%= committee_member.description %></td>
                    <td><%= link_to 'Show', committee_member %></td>
                    <td><%= link_to 'Edit', edit_committee_member_path(committee_member) %></td>
                    <td><%= link_to 'Destroy', committee_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

